body {
    font-family: 'Space Mono', monospace;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    color: #ccd6f6;
    background-color: #0a192f;
}

header {
    background: #112240;
    color: #ccd6f6;
    padding: 20px 50px;
    text-align: left;
}

header h1 {
    margin: 0;
    font-size: 24px;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #ccd6f6;
    text-decoration: none;
    font-size: 16px;
}

section {
    padding: 50px;
    margin: 10px 50px;
    background: #0a192f;
    border-left: 3px solid #233554;
    font-size: 15px;
}

.job {
    margin-bottom: 20px;
    padding: 10px;
    background-color: #112240; 
    border-radius: 5px; 
    box-shadow: 0 2px 5px rgba(0,0,0,0.3); 
}

.job h3, .job p {
    margin-bottom: 5px;
}

.job ul {
    list-style-type: circle; 
    margin-left: 20px; 
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #112240;
    color: #ccd6f6;
}

.project {
    margin-bottom: 20px;
    padding: 10px;
    background-color: #112240; /* Darker background for project entries */
    border-radius: 5px; /* Rounded corners */
    box-shadow: 0 2px 5px rgba(0,0,0,0.3); /* Subtle shadow for depth */
}

.project h3, .project p {
    color: #ccd6f6; /* Maintaining the text color scheme */
    margin-bottom: 5px;
}

.project ul {
    list-style-type: square; /* Square bullet points for a change */
    margin-left: 20px; /* Consistent indentation */
}

.highlight {
    background-color: #ccd6f6; /* Yellow background for high visibility */
    color: #000; /* Black text for contrast */
    font-weight: bold; /* Make the text bold */
    padding: 0 4px; /* Add some padding around the text */
}

footer {
    background-color: #112240; /* Dark background for the footer */
    color: #ccd6f6; /* Light color for text for readability */
    text-align: center; /* Center aligns the content */
    padding: 20px 0; /* Padding on top and bottom */
    font-size: 16px; /* Sets a comfortable reading size */
}

footer p {
    margin: 0; /* Removes default paragraph margin */
}

footer a {
    color: rgb(7, 173, 195); /* Yellow color for links for visibility */
    text-decoration: none; /* Removes underline from links */
    padding: 0 10px; /* Adds padding to each side of the link */
    font-size: 24px; /* Increases the size of the icons */
}

footer a:hover {
    color: #ccd6f6; /* Changes color on hover */
}


